.affair {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.button {
    margin: 10px;
    width: 60px;
    background-color: lightgreen;
    font-weight: bold;
}

.button:focus {
    background-color: peru;
    font-weight: bold;
}
.active {
    background-color: peru;
    font-weight: bold;
}

