.input:focus {
    outline: none;
    border: 2px solid rebeccapurple;
}
.superInput {
    margin: 10px;
    background: peru;
    color: lightgreen;
}

.errorInput {
    margin: 10px;
    border: 2px solid #6e3d3b;
    background: wheat;
    color: #6c6e3c;
}

.error {
    height: 20px;
    color: #6e3d3b;
    margin-left: 10px;
}